[package]
name = "rps"
version = "0.1.0"
edition = "2024"

[dependencies]
rand = "0.9.0"
rayon = "1.10.0"

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }

[[bench]]
name = "my_benchmark"
harness = false
